<html>
  <head>
    <title>W65C02SXB</title>
  </head>
  <body>
    <h1>W65C02SXB Expansion Board</h1>
    <h2>Expansion Board Template For 6502 Devlopment</h2>

    <p>The <a href="https://wdc65xx.com/Single-Board-Computers/w65c02sxb/">W65C02SXB</a> is a
    <a href="https://en.wikipedia.org/wiki/WDC_65C02">65C02</a> development board by
    <a href="https://westerndesigncenter.com/"></a>Western Design Center</a> that allows users to evaluate
    the 65C02 microprocessor and associated peripherals.</p>

    <p>This expansion board template breaks out:
        <ul>
            <li>40-pin "XBUS_02" connector consisting of 6502 D0-D7, A0-A15, and control lines.</li>
            <li>6521 PIA ports PA0-PA7, CA1, CA2, PB0-PB7, CB1, and CB2.</li>
            <li>6522 VIA ports PA0-PA7, CA1, CA2, PB0-PB7, CB1, and CB2.</li>
            <li>6551 ACIA ports RTSB, DTRB, RXD, DSRB, TXD, DCDB, CTSB, and ACIA_RXC.</li>
        </ul>
    </p>

    <p><em>Right now, only the W65C02SXB board is supported, as the XBUS_02 and the
        XBUS_816 on the <a href="https://wdc65xx.com/Single-Board-Computers/w65c816sxb/">W65C816SXB</a>
        are not quite compatible.</em> However, adding support for the latter should not
        be difficult.</p>

    <p>Special thanks goes to Western Design Center for providing me mechanical
        drawings and Gerbers so that I could make this template.</p>

    <p>(c) 2023 William D. Jones</p>
  </body>
</html>
